---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a final year PhD student at the University of Cambridge, completing my thesis on "Robust Understanding of Task-Oriented Dialogues" under the supervision of Prof Bill Byrne. My research focuses on neural approaches to task-oriented dialogue systems, with particular emphasis on robust generalisation for schema-guided dialogue state tracking. My most recent work concerns planning with both small and large language models and programmable dialogue systems.
    
    I have extensive experience in machine learning research, having completed internships at Apple working on voice-controlled agent architectures and Siri understanding modelling. Prior to my PhD, I worked as a Research Engineer at Seldon.io where I led development of the <a href="https://docs.seldon.io/projects/alibi/en/latest/" target="_blank" class="underline" style="color: #85B09A;">alibi-explain library</a>, and as a Machine Learning Engineer at Papercup working on multi-lingual, speaker-adaptive neural speech synthesis.
    
    My research has been recognized with the Best Long Paper award at the 24th Meeting of the Special Interest Group on Discourse and Dialogue (2023) for my work on grounding description-driven dialogue state trackers with knowledge-seeking turns.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD, Engineering"
      subtitle="Oct 2020 - Present at University of Cambridge, Cambridge, UK"
    >

      
      <strong>Co-supervisions</strong> (with Prof Bill Byrne):
      <ul class="list-disc ml-6 mt-2">
        <li>Wu, J. <i>Using Training Data to Reduce Gender Bias in Neural Machine Translation</i> (2021)</li>
        <li>McLeay, A. <i>Joint Learning of Practical Dialogue Systems and User Simulators</i> (2022)</li>
        <li>Zhang, W. <i>Training Dialogue State Trackers with Sampled Prompts</i> (2023)</li>
        <li>Nanu, A. <i>Improving Schema Generation for Robust Schema-Guided Dialogue State Tracking</i> (2023)</li>
        <li>Bhattarai, A. <i>Conversational AI Development</i> (2024)</li>
      </ul>
      
      <strong>Awards</strong>: Best Long Paper for <i>Grounding Description-Driven Dialogue State Trackers with Knowledge-Seeking Turns</i> at the 24th Meeting of the Special Interest Group on Discourse and Dialogue (2023)
      
      <br>
      <strong>Activities</strong>: Cambridge University Olympic Gymnastics Club, Cambridge University Powerlifting Club, Corpus Christi College MCR Bike Officer
    </TimeLineElement>
    
    <TimeLineElement
      title="MPhil, Machine Learning, Speech and Language Technology"
      subtitle="Oct 2017 - Oct 2018 at University of Cambridge, Cambridge, UK"
    >
      Pass, average mark: 74.6%. Thesis (73%): <i>Differentially Private Database Synthesis via Moment Matching</i>, supervised by Dr Borja Balle (now Deep Mind, London). Studied generation of synthetic datasets which match desired properties of a given private dataset. Relevant modules: Advanced Machine Learning, Probabilistic Machine Learning.
    </TimeLineElement>
    
    <TimeLineElement
      title="MEng, Systems Engineering"
      subtitle="Oct 2011 - Jul 2015 at University of Warwick, Coventry, UK"
    >
      First Class Hons, average mark: 84.94%. Ranked top of the Systems Engineering cohort, second across the entire MEng cohort.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Machine Learning Research Intern at Apple"
      subtitle="From Apr 2024 to Oct 2024 at Apple, Cambridge, UK"
    >
      Voice-controlled agent architectures
    </TimeLineElement>
    
    <TimeLineElement
      title="Machine Learning Research Intern at Apple"
      subtitle="From Apr 2023 to Oct 2023 at Apple, Cambridge, UK"
    >
      Siri Understanding Modelling
    </TimeLineElement>
    
    <TimeLineElement
      title="Research Engineer at Seldon.io"
      subtitle="From Sep 2019 to Oct 2020 at Seldon.io, London, UK"
    >
      Led development of <a href="https://github.com/SeldonIO/alibi" target="_blank" class="underline" style="color: #85B09A;">alibi-explain library</a>. Contributed to company <a href="https://arxiv.org/abs/2007.06299" target="_blank" class="underline" style="color: #85B09A;">publications</a>, blog-posts and <a href="https://www.youtube.com/watch?v=Y7UoIQqFxE0&t=51s" target="_blank" class="underline" style="color: #85B09A;">presented</a> at the <a href="https://events.linuxfoundation.org/ray-summit/" target="_blank" class="underline" style="color: #85B09A;">2020 Ray Summit</a>. Created a distributed <a href="https://github.com/SeldonIO/alibi/pull/299" target="_blank" class="underline" style="color: #85B09A;">backend</a> for the library and proposed API refactoring for full library compatibility. Prototyped on KernelShap (see <a href="https://github.com/SeldonIO/alibi/pull/303" target="_blank" class="underline" style="color: #85B09A;">PR</a>), obtaining significant <a href="https://github.com/alexcoca/DistributedKernelShap" target="_blank" class="underline" style="color: #85B09A;">runtime reduction</a>. Improved the quality and efficiency of existing code (e.g., <a href="https://github.com/SeldonIO/alibi/pull/173" target="_blank" class="underline" style="color: #85B09A;">PR</a>, <a href="https://github.com/SeldonIO/alibi/blob/c696bfcb724c4f2e3fc1b77fdc45a2d6d668316f/alibi/explainers/anchor_base.py" target="_blank" class="underline" style="color: #85B09A;">improved</a> vs <a href="https://github.com/SeldonIO/alibi/blob/bf637fcbf1f2219877effa99f34aa0f95210a9f4/alibi/explainers/anchor_base.py" target="_blank" class="underline" style="color: #85B09A;">original</a>). Integrated <a href="https://github.com/SeldonIO/alibi/blob/master/alibi/explainers/shap_wrappers.py" target="_blank" class="underline" style="color: #85B09A;">TreeSHAP</a> and <a href="https://github.com/SeldonIO/alibi/blob/master/alibi/explainers/shap_wrappers.py" target="_blank" class="underline" style="color: #85B09A;">KernelSHAP</a> in alibi. Proposed a library-wide refactoring to make alibi compatible with both <a href="https://github.com/SeldonIO/alibi/tree/interop-refactor/alibi/explainers/backend" target="_blank" class="underline" style="color: #85B09A;">PyTorch and Tensorflow</a> and implemented proof-of-concept for <a href="https://github.com/SeldonIO/alibi/blob/interop-refactor/alibi/explainers/experimental/counterfactuals.py" target="_blank" class="underline" style="color: #85B09A;">counterfactual explanations</a>. Improved testing (e.g., <a href="https://github.com/SeldonIO/alibi/blob/e21be4a646e18a5a2a0e41417f1604c1e217d0be/alibi/explainers/tests/test_anchor_tabular.py" target="_blank" class="underline" style="color: #85B09A;">improved</a> vs <a href="https://github.com/SeldonIO/alibi/blob/40eee7d7a90388c715f3e2d09b810cddfcc5d900/alibi/explainers/tests/test_anchor_tabular.py" target="_blank" class="underline" style="color: #85B09A;">original</a>) and participated in code review activities.
    </TimeLineElement>
    
    <TimeLineElement
      title="Machine Learning Engineer at Papercup"
      subtitle="From Sep 2018 to Aug 2019 at Papercup, London, UK"
    >
      Research and development on robustness and speaker adaptation for neural speech synthesis. Developed a novel training method for improving alignment quality. Developed a novel method for speech control inspired by variational inference literature. Developed a module for automatic failure detection and correction. Conducted architecture experiments that led to significant improvements in training speed, robustness and generated speech quality.
    </TimeLineElement>
    
    <TimeLineElement
      title="System Engineer at Jaguar Land Rover"
      subtitle="From Sep 2015 to Oct 2017 at Jaguar Land Rover, Gaydon, UK"
    >
      Delivered specifications for next-generation automated driving systems. Delivered multi-body simulations for assessing the impact of the Auto Stop on the Move feature on vehicle longitudinal dynamics. Delivered business-critical hardware-in-the-loop systems.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Professional Development</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="EEML Summer School"
      subtitle="Jul 2025 at EEML, Sarajevo, Bosnia and Herzegovina"
    >
      A one-week program covering advanced topics in machine learning (e.g., graph representation learning, mechanistic interpretability)
    </TimeLineElement>
    
    <TimeLineElement
      title="AI Strategy & Safety Fast Track"
      subtitle="Feb 2025 - Mar 2025 at Cambridge AI Safety Hub, Cambridge, UK"
    >
      An intensive 6-week program that equips participants with the knowledge and tools to contribute to AI safety.
    </TimeLineElement>
    
    <TimeLineElement
      title="AI Safety Fundamentals Fellowship"
      subtitle="Feb 2024 - Mar 2024 at Cambridge AI Safety Hub, Cambridge, UK"
    >
      A 6-week reading group designed to bring participants up to speed with state-of-the-art AI safety research.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-6 mb-10">
    <li>Python</li>
    <li>TensorFlow</li>
    <li>PyTorch</li>
    <li>pytest</li>
    <li>tox</li>
    <li>Hugging Face</li>
    <li>Hydra</li>
    <li>Ray</li>
    <li>AWS</li>
    <li>SLURM</li>
    <li>GitHub</li>
    <li>Docker</li>
    <li>LaTeX</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Best Long Paper at the 24th Meeting of the Special Interest Group on Discourse and Dialogue (2023)</li>
    <li>EPSRC Doctoral Training Partnership PhD Studentship (2020)</li>
    <li>Cambridge European Scholarship (2017)</li>
    <li>University of Cambridge Department of Engineering Bursary (2017)</li>
    <li>Corpus Christi College Cambridge MPhil Studentship (2017)</li>
    <li>Dean's Award for Outstanding Academic Performance (2015, 2013)</li>
    <li>Institution of Mechanical Engineers (IMechE) Best Student (2015)</li>
    <li>Institution of Engineering and Technology (IET) Undergraduate Award (2014)</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Interests</div>
  </div>

  <div class="mb-10 text-justify">
    Books, Olympic gymnastics (artistic), Tennis, Languages, Mathematics, Probabilistic modelling, Algorithms, Code design
  </div>
</BaseLayout>
